body {
    background-color: rgb(39, 39, 39);
    margin: 0;
}
header {
    background-color: rgba(255, 153, 0, 0.13);
    padding: 0.6em;
    border-bottom: solid;
    border-color: rgb(161, 101, 11);
    border-width: 0.3em;
}
h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
ul {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
a {
    color: transparent;
}
a:hover {
    color: rgb(255, 255, 255);
}
.bodyoutline {
    border: dashed;
    border-color: rgba(255, 153, 0, 0.233);
    border-width: 0.5em;
    border-radius: 3em;
    margin: 1em;
    padding: 1em;
}
.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5em;
}
.container {
    background-color: rgb(31, 31, 31);
    border: solid;
    border-color: rgb(161, 101, 11);
    border-width: 0.2em;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
    margin: 1em;
    border-radius: 0.5em;
}
.contentcontainer {
    background-color: rgb(39, 39, 39);
    text-wrap: wrap;
    text-align: left;
    font-size: 1em;
    height: 20em;
    overflow-y: auto;
    scrollbar-color: rgb(73, 73, 73) transparent;
}
.descriptor {
    margin-top: 0;
    color: grey;
    font-size: 0.8em;
}
.headerlink {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    font-size: 1em;
    flex-wrap: wrap;
}
.headertext {
    margin: 0;
}
.linkborder {
    background-color: rgba(0, 0, 0, 0.281);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.7em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.linkborder:hover {
    background-color: rgba(0, 0, 0, 0.089);
}
.contentheader {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 153, 0);
}
.contentbodytext {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.contentplaque {
    width: 15em;
    height: fit-content;
    margin: 0.5em;
}
.plaquecontainer {
    width: fit-content;
    border: dashed;
    border-color: rgba(255, 153, 0, 0.233);
    border-width: 0.3em;
    border-radius: 1em;
}
.majortitle {
    color: rgb(255, 136, 0);
}